.table-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
@media only screen and (max-width: 700px) {
  .top {
    flex-direction: column;
  }
}
.btn {
  width: full;
}
.table {
  overflow-x: auto;
  max-width: 100%;
}
